name: Build for CI

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "master" ]

jobs:
  build-plugin-ci:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
          
    - name: Restore
      run: dotnet workload restore Maui.FreakyEffects\Maui.FreakyEffects.sln
    - name: Build
      run: dotnet build Maui.FreakyEffects\Maui.FreakyEffects.sln -c Release
